obj
bin
!/bin
lib
log
*.user
*.suo
*.orig
output
out
publish
publish-*
package
nuget.exe
_ReSharper.*
*.ReSharper.user
*.Cache
*.cache
*.opensdf
*.sdf
~$*
lib/packages
App_Data
*.js
!*unobtrusive*.js
