obj
bin
!/bin
include/*.h
lib/packages
lib/**/*.dll
lib/**/*.exp
lib/**/*.lib
lib/**/*.pdb
output
out
publish
publish-*
package
nuget.exe
*.swp
*.user
*.suo
*.orig
_ReSharper.*
*.ReSharper.user
*.Cache
*.cache
*.opensdf
*.sdf
~$*
